body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-headphone {
    background-color: #A5A9AC1A;
}
.electro-logo {
    width: 178.5px;
    height: 35px;
}
.header-container {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 20px;
}
.button-group {
    width: 538px;
    height: 50px;
}
.button-group .button { 
    float: left; 
    border-color: #8cc6f333;
    font-family: "Montserrat", sans-serif;
    padding: auto;
} 
.button-group .back {
    background-color: inherit;
}
.button-group .button:not(:last-child) { 
    border-right: none; 
}  
.blue {
    background-color: #1C4E8E;
    color: white;
    width: 98px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 16px;
}
.button-group #all {
    width: 93px;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
    border: 1px 0px 1px 1px;
    padding: 13px 16px;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
}
.button-group #search {
    width: 347px;
    height: 50px;
    padding: 13px 16px;
    gap: 10px;
}
.button-group input::placeholder {
    color: #10131633;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.button-group .blue {
    width: 98px;
    border-radius: 0px 10px 10px 0px;
}
.header .container {
    width: 240px;
    gap: 18px;
    display: flex;
    justify-content:space-around;
    
}
.header .icon-container {
    width: 112px;
    display: flex;
    gap: 18px;
    margin-top: 15px;
}
.header .search-icon {
    width: 21.5px;
    height: 21.5px;
}
.header .heart-icon {
    width: 22px;
    height: 19px;
}
.header .cart-icon {
    width: 26.5px;
    height: 22px;
} 
.header .item-icon {
    width: 16px;
    height: 16px;
    margin-left: -27px;
    margin-top: -5px;
}

/* main-nav */
.main-nav ul li {
    display: inline-block;    
}
.main-nav ul li a {
    text-decoration: none;
    color: black;
}
.main-nav #shop {
    border-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: inherit;
}
.main-nav #all-categories {
    width: 317px;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
    padding: 13px 16px;
    background-color: rgba(165, 169, 172, 0.05);
    border-style: none;
}
.main-nav .nav-item {
    width: 438px;
    height: 30px;
    display: flex;
    gap: 30px;
}
.main-nav ul {
    display: flex;
    gap: 30px;
    align-items: baseline;
    margin-left: 100px;
    margin-top: 0px;
}

/* product-detail */
.product-detail {
    width: 1138px;
    margin: auto;
    margin-top:50px;
}
.product-detail .detail-box {
    width: 1140;
    height: 698px;
    display: flex;
    gap: 40px;
}
.detail-box .back {
    width: 555px;
    height: 555px;
    background-color: #A5A9AC0D;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-box .star-text {
    width: 256px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.detail-box .star-text p {
    color: #A5A9AC;
}
.detail-box .content {
    position: relative;
    top: 20px;
}
.detail-box .iphone-stock {
    display: flex;
    justify-content: space-between;
}
.detail-box .iphone-stock p {
    width: 69px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #3CD139;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3CD1391A;
}
.product-detail .content .price {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}
.detail-box .content .text {
    width: 555px;
    height: 90px;
    position: relative;
}
.detail-box .content .color {
    width: 555px;
    height: 90px;
    margin-top: -10px;
}
.detail-box .content .color p {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.detail-box .color .color-rectangle {
    width: 36px;
    height: 36px;
    border-radius: 4px;
}
.detail-box .pallet {
    display: flex;
    gap: 10px;
}
.detail-box .color #gray {
    background-color: #BEBEC6;
}
.detail-box .color #blue {
    background-color: #304FBE;
}
.detail-box .color #black {
    background-color: #101316;
}
.detail-box .color #purple {
    background-color: #5D30BE;
}
.group-input {
    display: flex;
}
.group-input .button {
    width: 40px;
    height: 56px;
    border: #A5A9AC33 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.group-input .button:not(:last-child) { 
    border-right: none; 
} 
.group-input .plus {
    border-radius: 0px 10px 10px 0px;
}
.group-input .minus {
    border-radius: 10px 0px 0px 10px;
}
.product-detail .container {
    display: flex;
    margin-top: 50px;
    gap: 30px;
    margin-top: 30px;
}
.product-detail .blue {
    width: 339px;
    margin-top: 2px;
}
.product-detail .container img {
    width: 24px;
    height: 24px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    background-color: #A5A9AC0D;
}
.product-detail .social {
    display: flex;
    gap: 10px;
}
.product-detail .social img {
    padding: 15px;
    border: 1px solid #A5A9AC33;
    border-radius: 10px;
}
.product-detail .share-box p {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.pic-container {
    display: grid;
    grid-template-columns: repeat(4, 123px);
    gap: 20px;
    margin-top: -100px;
}
.pic-container .bottom-pic {
    width: 70.81px;
    height: 86px;
    padding: 20px 30px;
    background-color: #A5A9AC0D;
    margin: auto;
}

/* Style the tab */
.tabs {
    width: 1140px;
    margin-top: 40px;
}
.tabs hr {
    border-color: #A5A9AC33;
    margin-top: 0px;
}
.tab {
    overflow: hidden;
    border: none;
  }
.tab button.active {
    text-decoration-line: underline;
    color: #1C4E8E;
    text-underline-offset: 21px;
    text-decoration-thickness: 3px;
  }
.tabcontent.active {
    display: block;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px 14px 0px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    font-family: "Montserrat", sans-serif;
  } 
.tabcontent {
    display: none;
  }
.tabcontent .info-cols {
    display: flex;
    position: relative;
    left: -45px;
}
.info-cols ul li {
    list-style-type: none;
}
.info-cols #first {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.info-cols #last {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.comment {
    width: 1140px;
}
.comment .comment-item {
    width: 1140px;
    height: 239px;
}
.comment .comment-item .profile {
    width: 200px;
    height: 56px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.comment .comment-item .profile #img{
    width: 50px;
    height: 50px;
}
.comment-item .comment-content {
    width: 1140px;
}
.comment .comment-content #short {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}
.comment .comment-content #long {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.comment .comment-content #date {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.comment-content span{
    color: #A5A9AC;
}
.comment hr {
    width: 1140px;
    color: #A5A9AC33;
    margin: 30px 0px;
}
.your-review {
    width: 1140px;
    margin-top: 20px;
}
.your-review .rating {
    width: 384px;
    height: 20px;
    display: flex;
}
.your-review .rating img {
    width: 20px;
    height: 20px;
    position: relative;
    top: -5px;
}
.form #topic {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
form {
    width: 1140px;
    position: relative;
    top: 30px;
}
form input {
    width: 1140px;
    height: 56px;
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 20px;
    color: #A5A9AC33;
    border: #A5A9AC33 solid 1px;
}
form label {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
form textarea {
    width: 1140px;
    height: 104px;
    position: relative;
    margin-top: 10px;
    border: #A5A9AC33 solid 1px;
}
form button{
    width: 139px;
    height: 56px;
    border-radius: 10px;
    background-color: #1C4E8E;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}
/* related-product */
 .related-product {
    width: 1138px;
    margin: auto;
    margin-top:100px;
 }
 .related-product h2 {
    width: 1138px;
    height: 56px;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
}
.related-product .items {
    width: 1137px;
    height: 447px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.related-product .item {
    width: 230px;
    height: 342px;
}
.related-product .item #img {
    width: 256px;
    height: 294px;
    background-color: #A5A9AC1A;
}
.related-product .item .name {
    width: 230px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}
.related-product .item .price {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/* footer */
.footer {
    background-color:#1C4E8E;
    gap: 10px;
    margin: auto;
    margin-top: 100px;
    color: white;
}
.footer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}
.footer-container .contact {
    width: 251px;
    margin-top: 20px;
}
.footer-container .subscribe ul li {
    width: 322px;
}
.footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer ul li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.footer .bold {
    font-weight: 700;
}
.footer-container .icon-text {
    display: flex;
    align-items: first baseline;
    gap: 10px;
}
.contact .icon-text #icon {
    width: 20px;
    height: 18px;
}
.footer-container .first-col {
    margin-top: 20px;
}
.subscribe .email {
    display: flex;
    align-items: center;
    width: 322px;
    height: 56px;
    border-radius: 10px;
    padding: 13px 16px;
    gap: 10px;
    background-color: #A5A9AC1A;
}
.subscribe .email #gmail-icon {
    width: 21px;
    height: 18px;
}
.subscribe .email #arrow-icon {
    width: 14px;
    height: auto;
    color: aliceblue;
    padding-left: 160px;
}
.footer hr {
    margin-top: 50px;
    width: 1140px;
    border-color: #A5A9AC33;
}
.footer .logos {
    width: 220px;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 150px;
    margin-top: 15px;
}
.footer .back {
    width: 36px;
    height: 24px;
    background-color: white;
    border-radius: 2.4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer #electro-text {
    width: 295px;
    height: 30px;
    font-size: 16px;
    color: white;
    font-weight: 400;
}
.footer .social .img {
    width: 4px;
    height: 24px;
}
.footer .social {
    width: 112px;
    height: 24px;
    display: flex;
    gap: 20px;
}
.social-text {
    width: 1200px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
    margin-left: 35px;
}
