body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-headphone {
    background-color: #A5A9AC1A;
}
.electro-logo {
    width: 178.5px;
    height: 35px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 20px;
}
.button-group {
    width: 538px;
    height: 50px;
}
.button-group .button { 
    float: left; 
    border-color: #8cc6f333;
    font-family: "Montserrat", sans-serif;
    padding: auto;
} 
.button-group .back {
    background-color: inherit;
}
.button-group .button:not(:last-child) { 
    border-right: none; 
}  
.blue {
    background-color: #1C4E8E;
    color: white;
    width: 98px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-size: 16px;
}
.button-group #all {
    width: 93px;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
    border: 1px 0px 1px 1px;
    padding: 13px 16px;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
}
.button-group #search {
    width: 347px;
    height: 50px;
    padding: 13px 16px;
    gap: 10px;
}
.button-group input::placeholder {
    color: #10131633;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
.button-group .blue {
    width: 98px;
    border-radius: 0px 10px 10px 0px;
}
.header .container {
    width: 240px;
    gap: 18px;
    display: flex;
    justify-content:space-around;
    
}
.header .icon-container {
    width: 112px;
    display: flex;
    gap: 18px;
    margin-top: 15px;
}
.header .search-icon {
    width: 21.5px;
    height: 21.5px;
}
.header .heart-icon {
    width: 22px;
    height: 19px;
}
.header .cart-icon {
    width: 26.5px;
    height: 22px;
} 
.header .item-icon {
    width: 16px;
    height: 16px;
    margin-left: -27px;
    margin-top: -5px;
}

/* main-nav */
.main-nav ul li {
    display: inline-block;    
}
.main-nav ul li a {
    text-decoration: none;
    color: black;
}
.main-nav #shop {
    border-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: inherit;
}
.main-nav #all-categories {
    width: 317px;
    height: 50px;
    border-radius: 5px 5px 0px 0px;
    padding: 13px 16px;
    background-color: rgba(165, 169, 172, 0.05);
    border-style: none;
}
.main-nav .container {
    width: 285px;
    height: 30px;
}
.main-nav .nav-item {
    width: 438px;
    height: 30px;
    display: flex;
    gap: 30px;
}
.main-nav ul {
    display: flex;
    gap: 30px;
    align-items: baseline;
    margin-left: 100px;
    margin-top: 0px;
}

/* headphone */
.headphone .pic-text {
    display: flex;
    margin-left: 150px;
}
.headphone #img {
    width: 599px;
    height: 800px;
    z-index: 1;
}
.headphone .text{
    width: 514px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
} 
.headphone .bold {
    font-size: 80px;
    font-weight: 700;
    width: 600px;
    margin-top: 110px;
}
.headphone .blue {
    width: 157px;
    height: 56px;
}
.headphone #shop-icon {
    width: 14px;
    padding: 0px 6.5px ;
}
.headphone #triangle {
    width: 160px;
    height: 157.73px;
    position: absolute;
    top: 743.5px;
    left: 527.25px;
}
.headphone #circle-1 {
    width: 15.39px;
    height: 15.49px;
    position: absolute;
    top: 368.16px;
    left: 42.96px;
}
.headphone #circle-2 {
    width: 37.02px;
    height: 37.02px;
    position: absolute;
    top: 317.83px;
    left: 71.69px;
    border: 2.86px;
}
.headphone #circle-3 {
    width: 63.45px;
    height: 63.45px;
    position: absolute;
    top: 251.32px;
    left: 111.82px;
}
.headphone #circle-4 {
    width: 15.49px;
    height: 15.47px;
    position: absolute;
    top: 223.21px;
    left: 187.84px;
}
.headphone #circle-5 {
    width: 125.17px;
    height: 124.23px;
    position: absolute;
    top: 182.74px;
    left: 499.41px;
    border: 2.2px;
}
.headphone #circle-6 {
    width: 257.62px;
    position: absolute;
    top: 872.38px;
    left: 85.55px;
}
.headphone #circle-7 {
    width: 63.45px;
    position: absolute;
    top: 824.32px;
    left: 1229.65px;
}
.headphone #circle-8 {
    width: 37.02px;
    height: 37.1px;
    position: absolute;
    top: 784.19px;
    left: 1296.21px;
    border: 2.86px;
}
.headphone #circle-9 {
    width: 15.39px;
    height: 15.39px;
    position: absolute;
    top: 755.46px;
    left: 1346.57px;
}
.headphone #circle-10 {
    width: 255.45px;
    position: absolute;
    top: 635.43px;
    left: 1226.54px;
    border: 2.2px;
}
.headphone #circle {
    width: 658px;
    height: 658px;
    position: absolute;
    top: 250px;
    left: 700px;
}

/* shop by categories */
.topic {
    width: 978px;
    height: 42px;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
}
.left-side-back {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(165, 169, 172, 0.1);
}
.right-side-back {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(28, 78, 142, 1);
}
.categories-shop .icons #left {
    width: 24px;
    rotate: -180deg;
}
.categories-shop .icons #right {
    width: 15px;
    align-items: center;
}
.categories-shop .icons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.topic-icons {
    width: 1140px;
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

.cat-container {
    width: 1140px;
    height: 215px;
    display: flex;
    gap: 30px;
    margin: auto;
    margin-top: 50px;
}
.cat-container .item1 #circle-1 {
    width: 165px;
    height: 165px;
}
.cat-container .item #img {
    width: 105px;
    height: 120px;
    position: relative;
    left: 30px;
    top: -150px;
}

.cat-container .text {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    text-align: center;
    margin-top: -100px;
}

/* off-box */
.off-box {
    width: 1140px;
    height: auto;
    display: flex;
    gap: 30px;
    margin: auto;
    margin-top: 70px;
}
.off-item {
    width: 555px;
    height: 261px;
    background-color: #A5A9AC1A;
}
.off-item .container {
    display: flex;
    gap: 30px;
}
.off-item .percent {
    width: 74px;
    height: 34px;
    position: relative;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    /* padding: 10px; */
    background-color: rgba(28, 78, 142, 0.1);
}
.percent #percent-num {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #1C4E8E;
    text-align: center;
    width: 54px;
    padding: 8px;
    margin-top: -5px;
}
.off-item .detail {
    width: 280px;
    height: 162px;
    position: relative;
    top: 69px;
    left: 30px;
}
.off-item #img-laptop {
    width: 290px;
}
.off-item #img-iphone {
    width: 235px;
    margin-left: 17px;
}
.detail #name {
    width: 273px;
    height: 42px;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    margin-top: -30px;
}
.detail .blue {
    width: 157px;
}

/* bestseller */
.bestseller {
    width: 1140px;
    height: 806px;
    margin: auto;
    margin-top: 70px;

}
.topic-container {
    width: 1140px;
    height: 42px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.categories {
    width: 279px;
    height: 31px;
    display: flex;
    gap: 20px;
}
.categories .item {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.categories .new {
    color: #1C4E8E;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.product {
    width: 1140px;
    height: 714px;
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.ipad {
    width: 360px;
    height: 740px;
    background-color: #A5A9AC1A;
}
.ipad #ipad-h2 {
    width: 200px;
    height: 84px;
    position: relative;
    top: 30px;
    left: 30px;
    font-style: 30px;
    font-weight: 700;
    line-height: 42px;
}
.ipad .price {
    width: 310px;
    height: 42px;
    position: relative;
    top: 24px;
    left: 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
}
.ipad .ipad-img {
    width: 330px;
    height: 515px;
    position: relative;
    top: 20px;
    left: 30px;
}
.product .items {
    width: 750px;
    height: 714px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    row-gap: 40px;
}
.product .item {
    width: 230px;
    height: 342px;
}
.product .background {
    width: 230px;
    height: 230px;
    background-color: #A5A9AC1A;
}
.product .item #img {
    width: 200.93px;
    height: 230px;
    position: relative;
    left: 15px;
}
.product .item .name {
    width: 230px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}
.product .item .price {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/* iphone-13 */
.iphone-13 {
    width: 100%;
    height: 500px;
    margin-top: 120px;
}
.iphone-13 .text-box {
   width: 440px;
   height: 232px;
   margin-top: -420px;
   margin-left: 180px;
   color: white;
   
}
.iphone-13 #img {
    width: 100%;
    height: auto;
}
.iphone-13 .text-box .name {
    width: 440px;
    height: 112px;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
}
.iphone-13 .text-box .content {
    width: 440px;
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.iphone-13 .blue {
    width: 157px;
}

/* top-selling */
.top-selling {
    width: 1140px;
    height: 806px;
    margin: auto;
    margin-top: 100px;
}

/* icon-box */
.icon-box {
    width: 1140px;
    margin: auto;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 16px;
}
.icon-box .icon-item {
    width: 276px;
    height: 117px;
}
.icon-box .icon-item .icon {
    width: 36px;
    height: 36px;
}
.icon-box .icon-item .topic {
    width: 276px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}
.icon-box .icon-item .content {
    width: 276px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/* footer */
.footer {
    background-color:#1C4E8E;
    gap: 10px;
    margin: auto;
    margin-top: 100px;
    color: white;
}
.footer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}
.footer-container .contact {
    width: 251px;
    margin-top: 20px;
}
.footer-container .subscribe ul li {
    width: 322px;
}
.footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer ul li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.footer .bold {
    font-weight: 700;
}
.footer-container .icon-text {
    display: flex;
    align-items: first baseline;
    gap: 10px;
}
.contact .icon-text #icon {
    width: 20px;
    height: 18px;
}
.footer-container .first-col {
    margin-top: 20px;
}
.subscribe .email {
    display: flex;
    align-items: center;
    width: 322px;
    height: 56px;
    border-radius: 10px;
    padding: 13px 16px;
    gap: 10px;
    background-color: #A5A9AC1A;
}
.subscribe .email #gmail-icon {
    width: 21px;
    height: 18px;
}
.subscribe .email #arrow-icon {
    width: 14px;
    height: auto;
    color: aliceblue;
    padding-left: 160px;
}
.footer hr {
    margin-top: 50px;
    width: 1140px;
    border-color: #A5A9AC33;
}
.footer .logos {
    width: 220px;
    height: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 15px;
}
.footer .back {
    width: 36px;
    height: 24px;
    background-color: white;
    border-radius: 2.4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer #electro-text {
    width: 295px;
    height: 30px;
    font-size: 16px;
    color: white;
    font-weight: 400;
    margin-left: -40px;
}
.footer .social .img {
    width: 4px;
    height: 24px;
}
.footer .social {
    width: 112px;
    height: 24px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.social #facebook {
    width: 24px;
    height: 24px;
}
.social #instagram {
    width: 20px;
    height: 20px;
}
.social #twitter {
    width: 17.71px;
    height: 16px;
}
.social-text {
    width: 1140px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 20px;
    margin: auto;
}

/* log-in-modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    background-color: #1013161A;
  }
.close {
    color: black;
    /* float: right; */
    font-size: 20px;
    background-color: white;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
  
.content .modal-container {
    width: 420px;
    background-color: white;
    border-radius: 16px;
    margin-top: 40px;
}
.content {
    display: flex;
    justify-content: center;
}
.modal-container #bold {
    font-size: 30px;
    font-weight: 700;
    margin: 30px 0px 10px 20px;
}
.modal-container #text {
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    color: #A5A9AC;
    padding-top: 0px;
    margin-top: 0px;
    line-height: 30px;
}
.modal-container label {
    font-size: 12px;
    font-weight: 400;
}
.modal-container .input {
    width: 380px;
    height: 56px;
    border-radius: 10px;
    border: solid 1px #1C4E8E;
    margin-top: 5px;
}
.modal-container input::placeholder {
    padding-left: 10px;
    font-size: 16px;
    color: black;
}
form {
    width: 380px;
    margin: auto;
}
.modal-container .remmeber-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3px;
}
.agree {
    float: left;
}
.checkbox label {
    font-size: 16px;
}
input[type="checkbox"] {
    accent-color: #1C4E8E;
    width: 20px;
    height: 20px;
}
.modal-container button {
    width: 380px;
    height: 56px;
    margin: 25px 0px 0px 0px;
}
.modal-container .white {
    background-color: white;
    border: 1px solid #1C4E8E;
    color: #1C4E8E;
    margin: 10px 0px 0px 0px;
}
.login-with-container hr {
    rotate: 90deg;
    height: 120px;
    border-color: #A5A9AC33;
}
.modal-container .login-with-container {
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: baseline;
    margin-top: -40px;
}
.modal-container .btn {
    background-color: inherit;
    font-size: 16px;
    border: 1px solid #A5A9AC33;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.btn-container {
    width: 380px;
    margin: -50px auto 20px auto;
}
.code{
    display: flex;
    gap: 20px;
    width: 380px;
    margin: auto;
}
.code .digit {
    width: 60px;
    height: 60px;
    border: 1px solid #1C4E8E;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.code .black {
    border: #A5A9AC33 solid 1px;
}
.circles {
    width: 108px;
    margin: auto;
    margin-top: 25px;
}
.circles .first {
    width: 108px;
    height: 108px;
    background-color: #1C4E8E1A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circles .second {
    width: 86px;
    height: 86px;
    background-color: #1C4E8E33;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
       
}
.circles .third {
    width: 64px;
    height: 64px;
    background-color: #1C4E8E;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Successfull-modal #bold {
    width: 352px;
    display: flex;
    text-align: center;
    color: black;
    line-height: 36px;
}
#Successfull-modal #text {
    width: 352px;
    display: flex;
    text-align: center;
    color: black;
    line-height: 30px;
    margin: 15px 0px 0px 0px;
}
#back-login-btn, #Successfull-btn {
    margin-bottom: 20px;
}