{% block content %}
    <section class="off-box">
    {% for product in top_discounted_products %}
        <div class="off-item">
            <div class="percent">
                <p id="percent-num">{{ product.discount_value }}% OFF</p>
            </div>
            <div class="container">
                <div class="detail">
                    <h3 id="name">{{ product.name }}</h3>
                    <p id="text">Don’t miss the last opportunity </p>

                    <button class="blue"><a href="{{ product.get_absolute_url }}">Shop Now</a>
                        <img src="/static/icons/arrow%20right.png" alt="" id="shop-icon"></button>
                </div>
                <div class="image-container">
                    {% for image in product.images.all %}
                        {% if image.title == 'off-box' %}
                            <img src="{{ image.image.url }}" alt="{{ product.name }}" class="product-image">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock %}
