{% extends 'shared/main.html' %}
{% block main %}
        <!-- shop by categories -->
    <section class="categories-shop">
        <div class="topic-icons">
            <div class="topic">
                <h2>Shop by Categories</h2>
            </div>
            <div class="icons">
                <div class="left-side-back">
                    <img src="/static/icons/arrow-right@2x.png" alt="" id="left">
                </div>

                <div class="right-side-back">
                    <img src="/static/icons/Vector 190.png" alt="" id="right">
                </div>
            </div>
        </div>

        <div class="cat-container">
            <div class="item">
                <img src="/static/images//image 9.png" alt="" id="img">
                <p class="text">Mobile Phones</p>
            </div>
            <div class="item">
                <img src="/static/images//image 11.png" alt="" id="img">
                <p class="text">Smart TV</p>
            </div>
            <div class="item">
                <img src="/static/images//image 13.png" alt="" id="img">
                <p class="text">Smart Watch</p>
            </div>
            <div class="item">
                <img src="/static/images//image 10.png" alt="" id="img">
                <p class="text">Laptops</p>
            </div>
            <div class="item">
                <img src="/static/images//image 14.png" alt="" id="img">
                <p class="text">Drones</p>
            </div>
            <div class="item">
                <img src="/static/images//image 12.png" alt="" id="img">
                <p class="text">Headphones</p>
            </div>
        </div>
    </section>
    <!-- off-box -->
    <section class="off-box">
        <div class="off-item">
            <div class="percent">
                <p id="percent-num">50% OFF</p>
            </div>
            <div class="container">
                <div class="detail">
                    <h3 id="name">Mackbook Air M2</h3>
                    <p id="text">Don’t miss the last opportunity </p>
                    <button class="blue">Shop Now <img src="/static/icons/arrow right.png" alt="" id="shop-icon"></button>
                </div>
                <img src="/static/images//image 15.png" alt="" id="img-laptop">
            </div>
        </div>

        <div class="off-item">
            <div class="percent">
                <p id="percent-num">50% OFF</p>
            </div>
            <div class="container">
                <div class="detail">
                    <h3 id="name">Iphone 14 Pro</h3>
                    <p id="text">Don’t miss the last opportunity </p>
                    <button class="blue"><a href="product.html">Shop Now</a><img src="/static/icons/arrow right.png" alt="" id="shop-icon"></button>
                </div>
                <img src="/static/images//image 16.png" alt="" id="img-iphone">
            </div>
        </div>
    </section>

    <!-- bestseller -->
    <section class="bestseller">
        <div class="topic-container">
            <h2>Our Bestseller Products</h2>
            <div class="categories">
                <p class="item new">New</p>
                <p class="item">Featured</p>
                <p class="item">Top Rated</p>
            </div>
        </div>

        <div class="product">
            <div class="ipad">
                <h2 id="ipad-h2">Apple iPad Pro Wi-Fi</h2>
                <p class="price">$1520</p>
                <img src="/static/images//PngItem_1757515 1.png" alt="" class="ipad-img">
            </div>
            <div class="items">
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 19.png" alt="ipad" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">Apple iPad Mini 6 Wi-Fi</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$500.00</p>
                    </div>
                </div>
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 20.png" alt="Microsoft Surface Go" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">Microsoft Surface Go</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$399.00</p>
                    </div>
                </div>
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 21.png" alt="LG 4K Ultra UHD TV" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">LG 4K Ultra UHD TV</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$5500.00</p>
                    </div>
                </div>
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 18.png" alt="Samsung Galaxy S22 Ultra" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">Samsung Galaxy S22 Ultra</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$1350.00</p>
                    </div>
                </div>
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 22.png" alt="Apple iPhone 14 Plus" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">Apple iPhone 14 Plus</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$850.00</p>
                    </div>
                </div>
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 17.png" alt="Bose QuietComfort 45" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">Bose QuietComfort 45</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$300.00</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- iphone-13 -->
    <section class="iphone-13">
        <img src="/static/images//howard-bouchevereau-2Q-pPfHZHyo-unsplash 1.png" alt="" id="img">
        <div class="text-box">
            <h2 class="name">Apple iPhone 13 Pro Max</h2>
            <p class="content">Don’t miss the last opportunity </p>
            <button class="blue">Shop Now <img src="/static/icons/arrow right.png" alt="" id="shop-icon"></button>
        </div>
    </section>

    <!-- top-selling -->
     <section class="top-selling">
        <div class="topic-container">
            <h2>Top Selling Products</h2>
            <div class="categories">
                <p class="item new">New</p>
                <p class="item">Featured</p>
                <p class="item">Top Rated</p>
            </div>
        </div>

        <div class="product">
            <div class="ipad">
                <h2 id="ipad-h2">Apple iPad Pro Wi-Fi</h2>
                <p class="price">$1520</p>
                <img src="/static/images//image 32.png" alt="" class="ipad-img">
            </div>
            <div class="items">
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 29.png" alt="Panasonic Lumix DC-GH5 II" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">Panasonic Lumix DC-GH5 II</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$1500.00</p>
                    </div>
                </div>
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 25.png" alt="Asus ROG Delta S" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">Asus ROG Delta S</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$250.00</p>
                    </div>
                </div>
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 26.png" alt="Xiaomi Fimi X8 Mini" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">Xiaomi Fimi X8 Mini</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$650.00</p>
                    </div>
                </div>
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 27.png" alt="Apple iPhone 13" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">Apple iPhone 13</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$500.00</p>
                    </div>
                </div>
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 28.png" alt="Fossil Gen 6 Smart Watch" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">Fossil Gen 6 Smart Watch</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$450.00</p>
                    </div>
                </div>
                <div class="item">
                    <div class="background">
                        <img src="/static/images//image 29.png" alt="Apple iPad Air Wi-Fi" id="img">
                    </div>
                    <div class="details">
                        <h3 class="name">Apple iPad Air Wi-Fi</h3>
                        <div class="stars">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                            <img src="/static/icons/Star 2.png" alt="star">
                        </div>
                        <p class="price">$850.00</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="icon-box">
        <div class="icon-item">
            <img src="/static/icons/fast delivery.png" alt="Free Shipping" class="icon">
            <h3 id="topic">Free Shipping</h3>
            <p id="content">Free shipping for order above $150</p>
        </div>
        <div class="icon-item">
            <img src="/static/icons/package box 8.png" alt="Money Guarantee" class="icon">
            <h3 id="topic">Money Guarantee</h3>
            <p id="content">Within 30 days for an exchange</p>
        </div>
        <div class="icon-item">
            <img src="/static/icons/package box 9.png" alt="Online Support" class="icon">
            <h3 id="topic">Online Support</h3>
            <p id="content">24 hours a day, 7 days a week</p>
        </div>
        <div class="icon-item">
            <img src="/static/icons/package box 10.png" alt="Flexible Payment" class="icon">
            <h3 id="topic">Flexible Payment</h3>
            <p id="content">Pay with multiple credit cards</p>
        </div>
    </section>
{% endblock %}