 <!-- footer -->
     <section class="footer">
        <div class="footer-container">
            <div class="contact">
                <img src="/static/images//Logo + Text.png" alt="" id="electro-logo">
                <div class="first-col">
                    <div class="icon-text call">
                        <img src="/static/icons/calling.png" alt="phone-number" id="icon">
                        <p class="content">(316) 555-0116</p>
                    </div>
                    <div class="icon-text">
                        <img src="/static/icons/gmail.png" alt="email" id="icon">
                        <p class="content">electro@example.com</p>
                    </div>
                    <div class="icon-text">
                        <img src="/static/icons/location.png" alt="location" id="icon">
                        <p class="content">4140 Parker Rd. Allentown,
                            New Mexico 31134</p>
                    </div>
                </div>
            </div>

            <div class="information col">
                <ul class="info-items">
                    <li class="bold">Information</li>
                    <li>My Account</li>
                    <li>Login</li>
                    <li>My Cart</li>
                    <li>My Wishlist</li>
                    <li>Checkout</li>
                </ul>
            </div>

            <div class="service col">
                <ul class="info-items">
                    <li class="bold">Service</li>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Delivery Information</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                </ul>
            </div>

            <div class="subscribe col">
                <ul class="info-items">
                    <li class="bold">Subscribe</li>
                    <li class="text">Enter your email below to be the first to know about new collections.</li>
                    <li>
                        <div class="icon-text email">
                            <img src="/static/icons/gmail.png" alt="email" id="gmail-icon">
                            <p class="content">Your Email</p>
                            <img src="/static/icons/arrow right.png" alt="" id="arrow-icon">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="social-text">
            <div class="icons">
                <div class="logos">
                    <div class="back">
                        <img src="/static/icons/visa.png" alt="">
                    </div>
                    <div class="back">
                        <img src="/static/icons/red-orange.png" alt="">
                    </div>
                    <div class="back">
                        <img src="/static/icons/g-pay.png" alt="">
                    </div>
                    <div class="back">
                        <img src="/static/icons/amex.png" alt="">
                    </div>
                    <div class="back">
                        <img src="/static/icons/blue.png" alt="">
                    </div>
                </div>
            </div>
            <p id="electro-text">©2023 Electro All Rights are reserved️ </p>
            <div class="social">
                <img src="/static/icons/facebook.png" alt="facebook">
                <img src="/static/icons/instagram.png" alt="instagram">
                <img src="/static/icons/twitter.png" alt="x">
            </div>
        </div>
    </section>