{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electro</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="/static/icons/pngtree-digital-shop-logo-png-image_5886226.jpg">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
 rel="stylesheet">
</head>
<body>

    {% render_partial 'main_module.views.header'%}

    
        <section class="headphone">
            <img src="/static/images//_Group_.png" alt="" id="triangle" class="shape">
            <img src="/static/images//_Path_.png" alt="" id="circle-1" class="shape">
            <img src="/static/images//_Path_ (1).png" alt="" id="circle-2" class="shape">
            <img src="/static/images//_Path_ (2).png" alt="" id="circle-3" class="shape">
            <img src="/static/images//_Path_ (3).png" alt="" id="circle-4" class="shape">
            <img src="/static/images//_Path_ (4).png" alt="" id="circle-5" class="shape">
            <img src="/static/images//_Group_ (1).png" alt="" id="circle-6" class="shape">
            <img src="/static/images//_Path_ (7).png" alt="" id="circle-10" class="shape">
            <img src="/static/images//_Path_ (8).png" alt="" id="circle-7" class="shape">
            <img src="/static/images//_Path_ (5).png" alt="" id="circle-8" class="shape">
            <img src="/static/images//_Path_ (6).png" alt="" id="circle-9" class="shape">
            <img src="/static/images//Ellipse 1200.png" alt="" id="circle" class="shape">
            <div class="pic-text">
                <div class="text-container">
                    <p class="bold">Great Sound <br> With Solo <br> Headphone</p>
                    <p class="text">It is a long established fact that a reader will be distracted by the readable 
                        content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                    <button class="blue">Shop Now <img src="/static/icons/arrow right.png" alt="" id="shop-icon"></button>
                </div>
                <img src="/static/images//young-handsome-happy-smiling-man-dancing-listening-music-headphones-isolated-white-studio-wall 1.png" alt="" id="img">
            </div>
        </section>
    </section>

    {% block main %}

    {% endblock %}
    
    {% render_partial 'main_module.views.footer' %}

    {% render_partial 'main_module.views.log_in' %}

    {% render_partial 'main_module.views.register'%}

    {% render_partial 'main_module.views.otp'%}

    {% render_partial 'main_module.views.successful'%}

    {% render_partial 'main_module.views.cart'%}

    <script src="/static/myjs.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ion/static/icons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ion/static/icons/ionicons.js"></script>
</body>
</html>