{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electro</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'product.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="/static/icons/pngtree-digital-shop-logo-png-image_5886226.jpg">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
 rel="stylesheet">
</head>
<body>

    {% render_partial 'main_module.views.header'%}

    {% block main %}

    {% endblock %}
    
    {% render_partial 'main_module.views.footer' %}

    {% render_partial 'main_module.views.log_in' %}

    {% render_partial 'main_module.views.register'%}

    {% render_partial 'main_module.views.otp'%}

    {% render_partial 'main_module.views.successful'%}

    {% render_partial 'main_module.views.cart'%}

    <script src="/static/myjs.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ion/static/icons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ion/static/icons/ionicons.js"></script>
</body>
</html>