<div id="otp-modal" class="modal modal-structure">
    <div class="modal-container">
        <div class="close" id="close-btn">&times;</div>
        <p id="bold">Enter OTP</p>
        <p id="text">We have share a code of your registered email address kristin.watson@example.com</p>
        <div class="code">
            <div id="inputs" class="inputs">
                <input class="input" type="text" id="digit" required
                    inputmode="numeric" maxlength="1" />
                <input class="input" type="text" id="digit" required
                    inputmode="numeric" maxlength="1" />
                <input class="input" type="text" id="digit" required
                    inputmode="numeric" maxlength="1" />
                <input class="input" type="text" id="digit" required
                    inputmode="numeric" maxlength="1" />
                <input class="input" type="text" id="digit" required
                    inputmode="numeric" maxlength="1" />
            </div>
        </div>
        <form action="">
            <button type="button" class="blue" id="Successfull-btn" onclick="modals('Successfull-modal', 'Successfull-btn')">Send OTP</button>
        </form>
    </div>
</div>