    <!-- successfull-page -->
    <div id="Successfull-modal" class="modal modal-structure">
        <div class="modal-container">
            <div class="circles">
                <div class="first"><div class="second"><div class="third"><img src="/static/icons/search 4.png" alt=""></div></div></div>  
            </div>
            <p id="bold">Password Changed Successfully</p>
            <p id="text">Your password has been updated successfully</p>
            <form action="">
                <button type="button" class="blue" id="back-login-btn" onclick="modals('log-in-modal', 'back-login-btn')">Back to Login</button>            
            </form>
        </div>
    </div>  